.hover-opacity {
  opacity: .7 !important;
}

.hover-btn_red {
  background-color: #CE3C39 !important;
}

.hover-btn_green {
  background-color: #179B16 !important;
}

@mixin hover-color($color: #F7F8F9) {
  .hover-bgc {
    background-color: $color !important;
  }

  .hover-list_item {
    background-color: $color !important;
  }
}
